body {
  font-family: 'Roboto', sans-serif;
  color: #2e2e2e;
}

h1 {
  font-size: 6em;
  margin: 0;
}

div {
  box-sizing: border-box;
}

label {
  display: block;
  text-align: left;
  color: #6f6f6f;
  font-size: 0.8em;
  font-weight: bold;
  font-family: Arial;
}

input {
  padding: 0.5em;
  border-radius: 0.5em;
  border: 0.2em solid #c3c3c3;
  -webkit-transition: border-color 0.3s, box-shadow 0.3s;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
  outline: none;
  border-color: #5aaaff;
  box-shadow: 0 0 0.5em 0 #5aaaff;
}

button {
  display: inline-block;
  background-color: #fafafa;
  padding: 0.7em 1em;
  border: 0.2em #c3c3c3 solid;
  border-radius: 0.5em;
  margin: 0.5em;
  cursor: pointer;
  -webkit-transition: border-color 0.3s, box-shadow 0.3s;
  transition: border-color 0.3s, box-shadow 0.3s;
}

button:hover {
  border-color: #5aaaff;
  box-shadow: 0 0 0.5em 0 #5aaaff;
}

button:focus {
  outline: none;
  border-color: #5aaaff;
  box-shadow: 0 0 0.5em 0 #5aaaff;
}