body {
  background-image: url('../img/cloud-bg.jpg');
  background-size: cover;
}

div {
  text-align: center;
}

#welcome-block {
  position: absolute;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  right: 50%;
  bottom: 70%;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.666s, visiblity 0.666s;
}

.form-block {
  position: absolute;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  right: 50%;
  bottom: 70%;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.666s, visiblity 0.666s;
}

.sub-title {
  display: inline-block;
  width: 25em;
}

.hide {
  visibility: hidden !important;
  opacity: 0 !important;
  height: 0 !important;
  overflow: hidden;
}

.fadeOut {
  transition: visibility 0.666s, opacity 0.666s, height 0.666s !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

.input-block {
  padding: 0.7em 1em;
}
