body {
  background-image: url('../img/cloud-bg.jpg');
  background-size: cover;
}

div {
  text-align: center;
}

#welcome-block, .form-block {
  position: absolute;
  padding: 2em 5em;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  right: 50%;
  bottom: 70%;
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.5);
  visibility: visible;
  opacity: 1;
  transition: opacity 0.333s, visiblity 0.333s;
}

.sub-title {
  display: inline-block;
  width: 25em;
}

.hide {
  visibility: hidden !important;
  opacity: 0 !important;
  height: 0 !important;
  overflow: hidden;
}

.fadeOut {
  transition: visibility 0.333s, opacity 0.333s, height 0.333s !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

.input-block {
  padding: 0.7em 1em;
}