* {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-color: #e5e5e5;
  height: 100%;
  margin: 0;
}

#add-project, #files, #editor, #buttons {
  display: inline-block;
  vertical-align: top;
  height: 99%;
}

#share {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 1em 2em;
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: 0.1em 0.1em 0.6em rgba(0, 0, 0, 0.3);
}

#add-project textarea, #add-project input {
  display: block;
}

#files-container {
  position: relative;
  background-color: #fff;
  display: inline-block;
  vertical-align: top;
  width: 19em;
  height: 99%;
  overflow-y: scroll;
}

#files {
  display: inline;
  overflow-y: scroll;
}

.file {
  user-select: none;
  display: inline-block;
  background-color: #fafafa;
  padding: 10px;
  border: 2px #f2f2f2 solid;
  width: 100%;
  cursor: pointer;
  -webkit-transition: border-color 0.3s, box-shadow 0.3s;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.file:hover {
  border-color: #5aaaff;
}

.file.active {
  background-color: #5aaaff;
  color: #fff;
  border-color: #5aaaff;
}

#file-editor {
  display: block;
  margin: 0;
  width: 500px;
  height: 100%;
  resize: none;
}

#file-title {
  display: block;
  margin: 10px 0 0 0;
}

#add-project {
  position: relative;
  height: 3em;
  width: 3em;
  border-radius: 50%;
}

#add-project::before {
  content: '+';
  position: absolute;
  transform: translate(-50%, -50%);
  top: 49%;
  left: 49%;
  font-size: 3em;
  color: #c3c3c3;
}

.hide {
  display: none !important;
}

.shared-user {
  cursor: pointer;
}

.shared-user:hover {
  color: #5aaaff;
}